@font-face {
  font-family: font-vga-eight;
  font-display: swap;
  src: url("../fonts/vga8hack.woff2") format("woff2")
}

.container {
display:flex;
justify-content: center;
width: 100%;
}

pre {
font-family: font-vga-eight;
margin-bottom: 10px;
padding: 10px;
width: 80%;
padding-bottom: 20px;
}

a, a:link {
  color: #61D6D6;
}

a:hover {
  color: #3A96DD;
}