@font-face {
    font-family: font-vga-eight;
    font-display: swap;
    src: url("../fonts/vga8hack.woff2") format("woff2")
}
  .container {
    text-align: center;
  }
pre {
    font-family: font-vga-eight;
    display: inline-block;
    text-align: left;
   }
a, a:link {
    color: #61D6D6;
}

a:hover {
    color: #3A96DD;
}